<!DOCTYPE html>
<html>

<head>
    <title>My Web Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='spice_mix.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
</head>

<body>
    HOME
    <a href="{{ url_for('login') }}">Login</a>
</body>

</html>